h1{
  text-align: center;
}
h1{
  font-family: fantasy;
}
.jumbotron {
  background-color: #;
}
.container{
  background-color: #8ECCAE;
  opacity: 0.85;
}
body{
  background-image: url('abstract-backdrop-background-921776.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1px
  background-size: 1300px;
